<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payit Oauth Example</title>
</head>
<body>
    <h1>Payit Oauth Example App and Documentation</h1>
    <a href="#" onclick="PayItLogin()"><button>Login with PayIt</button></a>
    <script>
        var payItClientId = '<%= clientId %>';
    </script>
    <script src="https://d3ck169wa5xhu5.cloudfront.net/oauth/payit-oauth-sdk.umd.js"></script>
    <script src="./index.js"></script>
</body>
</html>
