<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> You are Logged In</h1>
    <a href="#" onclick="LogOut()"><button>Log Out</button></a>
    <script src="http://localhost:3000/payit-oauth-sdk.umd.js"></script>
    <script src="./index.js"></script>
    <script>
        const nonce = window.location.search.split('=')[1];
        const state = PayitOauth.PayitOauthUI.retrieveState(nonce);
        console.log('State Data', state);
    </script>
</body>
</html>